/* new icons below */
.icon-bubbles:before {
  content: '\e96c';
}
.icon-user:before {
  content: '\e971';
}
.icon-user-plus:before {
  content: '\e973';
}
.icon-bell:before {
  content: '\e951';
}
.icon-list-numbered:before {
  content: '\e9b9';
}
.icon-image:before {
  content: '\e90d';
}
.icon-camera:before {
  content: '\e90f';
}
.icon-question:before {
  content: '\ea09';
}
.icon-plus:before {
  content: '\ea0a';
}
.icon-filter:before {
  content: '\ea5b';
}
.icon-cross:before {
  content: '\ea0f';
}
.icon-pencil:before {
  content: '\e905';
}
.icon-eye:before {
  content: '\e9ce';
}
.icon-star-full:before {
  content: '\e9d9';
}
.icon-star-half:before {
  content: '\e9d8';
}
.icon-and-more-vertical:before {
  content: '\e804';
}
.icon-equalizer:before {
  content: '\e992';
}
.icon-circle-right:before {
  content: '\ea42';
}
.icon-pencil2:before {
  content: '\e906';
}
.icon-comments:before {
  content: '\eaeb';
}
.icon-comments-2:before {
  content: '\eaec';
}
.icon-comment-discussion:before {
  content: '\eaf2';
}
.icon-thumb-up:before {
  content: '\eaf8';
}
.icon-thumb-up-2:before {
  content: '\eaf7';
}
.icon-eye:before {
  content: '\e9ce';
}
.icon-folder-open:before {
  content: '\e930';
}
.icon-sort-asc:before {
  content: '\ea4c';
}
.icon-sort-desc:before {
  content: '\ea4d';
}
