<div>
    <nav class="bar bar-standard ww-nav">
        <div class="ww-segmented-control">
            <a class="control-item active" data-item-name="weijian-tab-1">
                最新
            </a>
            <a class="control-item" data-item-name="weijian-tab-2">
                发现
            </a>
            <!-- todo...
            <a class="control-item" data-item-name="ww-online-discussion">
                研讨
            </a>
            <a class="control-item" data-item-name="ww-collection">
                收藏 (或者只在为论里增加看热门收藏功能？)
            </a>
            <a class="control-item" data-item-name="ww-be-my-ww">
                入座
            </a>
            -->
        </div>
    </nav>
    <!-- <div class="ww-container" style="height:calc(100% - 94px);position:fixed;top:44px;width:100%;padding-top:50%;font-size:12px;text-align:center;"> -->
    <div class="ww-container">
        <div id="weijian-tab-1" class="ww-forum ww-sub-container"></div>
        <div id="weijian-tab-2" class="ww-forum ww-sub-container"></div>
    </div>
</div>