<div>
    <nav class="bar bar-standard ww-nav">
        <div class="ww-segmented-control">
            <a class="control-item active" data-item-name="hot-tab-1">
                热门为论
            </a>
            <a class="control-item" data-item-name="hot-tab-2">
                我为心路
            </a>
        </div>
    </nav>
    <div class="ww-container">
        <div id="hot-tab-1" class="ww-forum ww-sub-container"></div>
        <div id="hot-tab-2" class="ww-forum ww-sub-container"></div>
    </div>
    <!--<div style="text-align:center;padding:50% 40px 0;font-size:12px;">
        热门为论 <br>（基于为谏，一定时间内动态频繁，可再评论）
        <br><br>
        我为心路 <br>（来自我为分享）
    </div>-->
</div>