<div class="ww-main">
</div>
<nav class="bar bar-tab ww-home-bar">
    <a class="tab-item active" href="#ww">
        <span class="icon icon-bell" style="font-size:18px;"></span>
        <span class="tab-label">为谏</span>
    </a>
    <a class="tab-item" href="#hot">
        <span class="icon icon icon-list-numbered" style="font-size:18px;"></span>
        <span class="tab-label">热论</span>
    </a>
    <a class="tab-item" href="#messages">
        <span class="icon icon-bubbles" style="font-size:18px;"></span>
        <span class="tab-label">消息</span>
    </a>
    <a class="tab-item" href="#myww">
        <span class="icon icon icon-user-plus" style="font-size:20px;"></span>
        <span class="tab-label">我为</span>
    </a>
    <a class="tab-item" href="#me">
        <span class="icon icon-user" style="font-size:21px;"></span>
        <span class="tab-label">我的</span>
    </a>
</nav>