@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
div ul.table-view:not(.ww-tags) {
  border-top: none;
  /*background-color: #eee;*/
  background-color: #d6e3ef;
  margin-bottom: 0;
  margin-top: 5px;
  border-bottom: none;
  height: 100%;
}
div ul.table-view:not(.ww-tags) .ww-scroll-loader {
  height: 36px;
}
div ul.table-view:not(.ww-tags) .table-view-cell {
  padding: 6px 11px 2px;
  margin-bottom: 6px;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}
div ul.table-view:not(.ww-tags) .table-view-cell:active {
  background-color: #eee;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-content h4 {
  color: #222;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  line-height: 20px;
  display: block;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-content p {
  /*text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;*/
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #000;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-footer {
  font-size: 12px;
  margin-top: 5px;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-summary {
  color: #8f8f94;
  float: right;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-summary a {
  color: #8f8f94;
  margin: 0 4px;
  top: 1px;
  position: relative;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-summary a:last-child {
  margin-right: 0;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-tags {
  float: left;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-tags a {
  color: mediumblue;
  /*color: #4179ca;*/
  font-weight: normal;
}
div ul.table-view:not(.ww-tags) .table-view-cell .ww-tags a:not(:last-child) {
  margin-right: 5px;
}
