<div style="text-align:center;padding:50% 40px 0;font-size:12px;">
    <h4 style="line-height:27px;position:relative;top:-140px;">你好，
        <button id="pls-login-btn" class="btn btn-positive">请登录</button>
        <span style="color:blue"></span>
    </h4>
    个人信息与注册
    <br>
    关注的人（可以发私信）
    <br>
    关注的为谏
    <br>
    关注的为论
    <br>
    收藏的为论
    <br>
    足迹（浏览过的为谏，为论）
    <br>
    等等。。。
    <div style="margin-top:20px;">
        <button id="logout_btn" class="btn btn-positive btn-block">退出登录</button>
    </div>
</div>